<div class="container current">
  <h2 class="input-city">Weather Forecast Made Simple</h2>
  <h5>
    Stay informed about the weather in your city instantly, without any hassle.
  </h5>
  <div class="mb-3">
    <input
      type="text"
      class="form-control"
      name="city"
      id="city"
      (input)="onInput($event.target)"
    />
  </div>
  <button class="btn btn-primary" (click)="getWeather()">Get Weather Updates</button>
  <p>{{ weatherData?.name }}</p>
  <p>{{ weatherData?.weather[0].main }}</p>
  <p>{{ weatherData?.weather[0].description }}</p>
</div>
